
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif ;
}
h1
{
    padding-left: 1.2rem;
    padding-top: 0.8rem;
    align-content: space-around;
}
.search-section
{
  margin-right:2rem;
}
.searchbtn
{
   margin-left: 10px;
   margin-bottom: 1px;
   height: 27px !important;
}
.showmore
{
    margin-left: 45%;
    margin-right: 45%;
}

.image-div
{
    
    padding:1.2rem 1.2rem 1.2rem 1.2rem;
}
#search-input
{
    height: 27px !important;
    width: 250px;
    padding-left: 20px;
    font-size: small;
    border-radius: 5px solid black ;
}

.desc
{
    font-family: poppins;
    font-weight: 300;
    font-size: large;
}
.downstyle
{
        background-color: rgb(0, 0, 0);
        border: none;
        color: white;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 16px;
        text-decoration: none;
}
.card
{
    width: fit-content;
    overflow: auto;
}